Repository kimata/wattmeter_sharp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-server, deploy-client

.gitlab-ci.yml:

image: docker:23.0

stages:
  - build
  # - test
  - deploy

# 本番設定ファイルで，問題なく動くかチェック
build-image:
  stage: build
  image: registry.green-rabbit.net:5000/kimata/ubuntu-docker-build:latest

  script:
    # - docker rm $(docker ps -a --filter 'status=exited' -q) || true
    - export GIT_SSL_NO_VERIFY=1
    - git clone https://gitlab.green-rabbit.net/kimata/wattmeter_config.git
    - mv wattmeter_config/sharp_config.yaml config.yaml
    - mv wattmeter_config/sharp_device.yaml device.yaml
    - mv wattmeter_config/sharp_dev_id.dat data/dev_id.dat
    - docker pull ${CI_REGISTRY_IMAGE} || true
    - docker build . -t ${CI_REGISTRY_IMAGE}
    - docker push ${CI_REGISTRY_IMAGE}

# # サンプル設定ファイルで，問題なく動くかチェック
# test-sample:
#   stage: test

#   script:
#     - docker pull ${CI_REGISTRY_IMAGE}
#     - docker run -t --label job=${CI_JOB_NAME} ${CI_REGISTRY_IMAGE} src/create_image.py -f config.example.yaml -o ${CI_JOB_NAME}.png
#     - CID=`docker ps -q -l -f "ancestor=${CI_REGISTRY_IMAGE}" -f "label=job=${CI_JOB_NAME}"`
#     - docker wait ${CID}
#     - docker cp ${CID}:/opt/kindle_sensor/${CI_JOB_NAME}.png .

#   artifacts:
#     paths:
#       - ${CI_JOB_NAME}.png

# # 本番設定ファイルで，問題なく動くかチェック
# test-regular:
#   stage: test

#   script:
#     - docker pull ${CI_REGISTRY_IMAGE}
#     - docker run -t --label job=${CI_JOB_NAME} ${CI_REGISTRY_IMAGE} src/create_image.py -o ${CI_JOB_NAME}.png
#     - CID=`docker ps -q -l -f "ancestor=${CI_REGISTRY_IMAGE}" -f "label=job=${CI_JOB_NAME}"`
#     - docker wait ${CID}
#     - docker cp ${CID}:/opt/kindle_sensor/${CI_JOB_NAME}.png .

#   artifacts:
#     paths:
#       - ${CI_JOB_NAME}.png

# # 本番設定ファイルで，問題なく動くかチェック
# test-display:
#   stage: test

#   variables:
#     KINDLE_HOSTNAME: kindle-library

#   script:
#     - docker pull ${CI_REGISTRY_IMAGE}
#     - docker run -t ${CI_REGISTRY_IMAGE} src/display_image.py -f config.yaml -t ${KINDLE_HOSTNAME} -s

deploy-server:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context kimata/wattmeter_sharp:pod-rollout
    - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment wattmeter-sharp-server
  rules:
    - changes:
        - app/sharp_hems_logger.py
        - lib/serial_pubsub.py*
        - lib/sniffer.py

deploy-client:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config get-contexts
    - kubectl config use-context kimata/wattmeter_sharp:pod-rollout
    - kubectl --insecure-skip-tls-verify=true rollout restart -n hems deployment wattmeter-sharp-client
  rules:
    - changes:
        - app/sharp_config.yaml
        - lib/serial_pubsub.py*
        - lib/sniffer.py

fix: テストを追加
  .gitlab-ci.yml
Due: none

fix: テストに対応
  app/sharp_hems_logger.py
Due: deploy-server

fix: typo
  lib/serial_pubsub.py
Due: deploy-server, deploy-client

fix: オプション引数を変更
  app/sharp_hems_logger.py
  app/sharp_hems_server.py
  lib/sensor_data.py
Due: deploy-server

fix: NG と見做す時間閾値を変更
  app/hems_status.py
Due: none

fix: 設定ファイルの書式を変更
  app/hems_status.py
  app/sharp_hems_logger.py
  config.example.yaml
Due: deploy-server

fix: Poetry ベースに移行
  .dockerignore
  .flake8
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
Due: none

fix: 必要なライブラリを追加
  pyproject.toml
Due: none

fix: 不要な記載を削除
  .dockerignore
Due: none
